[build]
  functions = "netlify/functions"
  publish = "public"
  
[build.environment]
  PYTHON_VERSION = "3.8"

[functions]
  directory = "netlify/functions"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"